*{
    margin: 0px;
    padding: 0px;
}

img {
    width: 150px;
}

.page{
    width: 100vw;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 2fr 1fr 4fr 1fr;
    grid-template-areas: " header header"
    "form menu"
    "body menu"
    "footer menu";
}

.page .headerContent{
    background: rgb(161, 161, 161);
    grid-area: header;
}

.page .menuContent{
    background: rgb(135, 135, 135);
    grid-area: menu;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


}

.page .fromContent{
    background: rgb(114, 114, 114);
    grid-area: form;
}

.page .bodyContent{
    background: rgb(201, 201, 201);
    grid-area: body;
}

.page .footerContent{
    background: rgb(49, 48, 48);
    grid-area: footer;
}
